@import '@fortawesome/fontawesome-free/css/fontawesome.css';
@import '@fortawesome/fontawesome-free/css/regular.css';
@import '@fortawesome/fontawesome-free/css/solid.css';
@import '@fortawesome/fontawesome-free/css/brands.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.shepherd-element {
    background-color: #374151 !important;
    border-radius: 0.375rem !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
    color: #f9fafb !important;
}

.shepherd-element .shepherd-content {
    padding: 1rem !important;
}

.shepherd-element .shepherd-content .shepherd-header {
    background: none !important;
}

.shepherd-element .shepherd-content .shepherd-header .shepherd-title {
    color: #d1d5db !important;
    font-weight: bold !important;
    font-size: 1.25rem !important;
}

.shepherd-element .shepherd-content .shepherd-text {
    color: #9ca3af !important;
    font-size: 1rem !important;
    padding: 0.5rem 1rem 1rem !important;
}

.shepherd-element .shepherd-footer {
    padding-top: 0.5rem !important;
}

.shepherd-element .shepherd-footer .shepherd-button {
    display: inline-block !important;
    width: 100% !important;
    height: 2.25rem !important;
    border-radius: 9999px !important;
    font-weight: 500 !important;
    font-size: 0.875rem !important;
    line-height: 1.25rem !important;
    color: white !important;
    background: #37c3a2 !important;
    transition: background-color 0.15s ease-in-out,
                box-shadow 0.15s ease-in-out !important;
}

.shepherd-element .shepherd-footer .shepherd-button:hover {
    box-shadow: 0 0 0 1px #ffffff !important;
}
