.markdown-body {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 600;
        line-height: 1.25;
        margin-top: 24px;
        margin-bottom: 16px;
    }
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.5em;
    }
    h3 {
        font-size: 1.25em;
    }

    ul,
    ol {
        padding-left: 2em;
        margin-top: 0;
        margin-bottom: 16px;
    }

    code {
        padding: 0.2em 0.4em;
        background-color: rgba(175, 184, 193, 0.2);
        border-radius: 6px;
        font-family: ui-monospace, monospace;
    }

    pre code {
        padding: 16px;
        display: block;
        overflow-x: auto;
    }

    strong {
        font-weight: 600;
    }

    em {
        font-style: italic;
    }

    a {
        color: #58a6ff;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }

    blockquote {
        padding: 0 1em;
        color: #8b949e;
        border-left: 0.25em solid #30363d;
        margin: 0;
    }

    table {
        border-spacing: 0;
        border-collapse: collapse;
        margin-bottom: 16px;

        th,
        td {
            padding: 6px 13px;
            border: 1px solid #30363d;
        }
    }

    hr {
        border-top-width: 3px;
        border-color: #30363d;
        margin-bottom: 16px;
    }
}
